<div class="well">
  <h2>Enter a zipcode and a country name:</h2>
  <div class="inputContainer">
    <input type="text" #zipcode placeholder="Zipcode" class="form-control space">
    <app-dropdown (itemSelectedEmitter)="setCountry($event)" [items]="(zipCodeEntryService.getCountries() | async) || []"></app-dropdown>
  </div>
  <br>
  <app-button (btnClickEmitter)="addLocation(zipcode.value, country)" [buttonsTemplate]="buttonsTemplate"></app-button>
</div>

<ng-template #addlocation>Add location</ng-template>
<ng-template #working>Working</ng-template>
<ng-template #done>✔ Done</ng-template>